<IfModule mod_rewrite.c>
    RewriteEngine On

    # index.php にすべてのリクエストを渡す（存在しないファイル/フォルダの場合）
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>